<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<meta http-equiv="content-type" content="text/html;charset=utf-8" />
		<title>yapianyu - Better late than never</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css" />
		<link rel="stylesheet" type="text/css" href="/css/syntax.css" />
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-33482938-1']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
	</head>

	<body>
		<div id="logo">
			<h1><div>Better late than never</div><a href="/">Home</a></h1>
		</div>
		<div id="wrapper">
			<div id="content" class="index">
				<div id="sidebar">
					<ul>
						<li>
							<a href="/">articles({{ site.posts | size }})</a>
							<ul>
								{% for category in site.categories %}
								<li><a href="/{{ category[0] | downcase }}.html">{{ category[0] }}({{ category | last | size }})</a></li>
								{% endfor %}
							</ul>
						</li>
						<li><a href="/resume.html">resume</a></li>
						<li><a href="/about.html">about</a></li>
					</ul>
				</div>
				
				<div id="main">
					<h1>Category » {{ page.title }}</h1>
					{{ content }}
				</div>
			</div>
		</div>
        <a href='#' style='display:scroll;position:fixed;bottom:5px;right:5px;' title='Back to Top'><img src='/image/back-to-top.png'/></a>
	</body>
</html>


